# Clase 5

**Primeros scrips**

Vamos a definir en una celda tres variables una que contenga mi nombre, una que comntenga mi edad y otra que muesstre el porcentaje de la semana que utilizo oara mi curso de programación

## Método `format` para cadenas 

Veamos como podemos crer formatos en textos

In [15]:
Nombre='Saudith Perdomo Dueñas'
Edad=17
Por_prog=(4+2)/(24*5)

In [16]:
texto1='Mi nombre es {}, tengo {} años y soy externadista'.format(Nombre,edad)
texto1

'Mi nombre es Saudith Perdomo Dueñas, tengo 17 años y soy externadista'

In [17]:
texto1='Mi nombre es {nombre}, tengo {edad} años y soy externadista'.format(nombre=Nombre,edad=Edad)
texto1

'Mi nombre es Saudith Perdomo Dueñas, tengo 17 años y soy externadista'

In [23]:
texto2='Mi nombre es {nombre}, tengo {edad} años y soy externadista y dedico el {porcentaje:.1%} de mi semana a programación'.format(nombre=Nombre,edad=Edad,porcentaje=Por_prog)
texto2

'Mi nombre es Saudith Perdomo Dueñas, tengo 17 años y soy externadista y dedico el 5.0% de mi semana a programación'

In [29]:
texto3='Nombre:{nombre:>30}\nEdad:{edad:>30}'.format(nombre=Nombre,edad=Edad)
print(texto3)

Nombre:        Saudith Perdomo Dueñas
Edad:                            17

In [32]:
texto3='{nombre:<30}:Nombre\n{edad:<30}:Edad'.format(nombre=Nombre,edad=Edad)
print(texto3)

Saudith Perdomo Dueñas        :Nombre
17                            :Edad

In [36]:
texto4='{nombre:^30}\n{edad:^30}'.format(nombre=Nombre,edad=Edad)
print(texto4)

    Saudith Perdomo Dueñas
              17

In [40]:
texto5='El boleto para Bad Bunny valió ${boleto:,}'.format(boleto=22000000)
print(texto5)

El boleto para Bad Bunny valió $22,000,000

In [41]:
texto6='En binario tengo {edad:b}'.format(edad=Edad)
print(texto6)

En binario tengo 10001

## Más metodos de cadenas de carctéres

Veamos una lista de métodos e intentemos definir que hace cada una:

In [43]:
texto7='hola'.capitalize() #pone mayúscula inicial
print(texto7)

Hola

In [47]:
texto8='En el Monte de la China una china SE PErDIO'.casefold() #pone todo en minuscula
print(texto8)

en el monte de la china una china se perdio

In [49]:
texto9='En el Monte de la China una china SE PErDIO'.upper() #pone todo en mayúscula
print(texto9)

EN EL MONTE DE LA CHINA UNA CHINA SE PERDIO

In [51]:
texto10='En el Monte de la China una china SE PErDIO'.lower() #pone todo en minuscula
print(texto10)

en el monte de la china una china se perdio

In [53]:
texto11='En el Monte de la China una china SE PErDIO'.replace('a','x-x') #reemplazo las 'a' por x-x
print(texto11)

En el Monte de lx-x Chinx-x unx-x chinx-x SE PErDIO

In [54]:
texto12='En el Monte de la China una china SE PErDIO'.swapcase() #cambia las minisculas por mayusculas
print(texto12)

eN EL mONTE DE LA cHINA UNA CHINA se peRdio

In [55]:
texto13='En el Monte de la China una china SE PErDIO'.center(100) #centra el texto
print(texto13)

                            En el Monte de la China una china SE PErDIO

Otros métodos

In [58]:
x1='Las bananas son ricas en potasio'.count('an') #cuantas veces aparece el 'an'
print(x1)

2

In [60]:
x2='En el externado soy muy feliz'.find('soy') #en que posición comienza la palabra
print(x2)

16

In [62]:
x3='En el externado soy muy feliz'.find('En')
print(x3)

0

In [63]:
x4='En el externado soy muy feliz'.find('el')
print(x4)

3

In [65]:
x5='En el Externado soy muy feliz'.find('Externado')
print(x5)

6

In [66]:
x6='En el Externado soy muy feliz'.find('soy')
print(x6)

16

En python los textos son arreglos, o más bien secuencias ordenadas de caracteres. Cada texto tiene un orden según la aparción de cada carcter.

In [68]:
texto_normal='0123456789'

In [72]:
texto_normal[0] #identifico a cada carcter em esa lista con paréntesis cuadrados

'0'

In [70]:
texto_normal[4]

'4'

In [74]:
texto_normal[0:4] # Los dos valores separados por dos puntosindican un rango en el texto, inicia en el primero y termina uno antes que el segumdo

'0123'

In [76]:
texto_normal[4:9]

'45678'

In [80]:
texto='Colombia verá Qatar 2022 desde la sala de la casa'

In [81]:
texto[5:20]

'bia verá Qatar '

### Función `input`

In [82]:
txt=input('Escriba un texto aquí')
print(txt)
print(type(txt))

Escriba un texto aquí 4

4
<class 'str'>

Claramente `input` permite que le usuario pueda ingresar texto, ese texto siempre se guardara como cadena de caractéres y si se quiere cambiar debe utilizarse una función adecuada:

In [85]:
txt=input('Ingrese su nombre: ')
age=input('Ingrese su edad: ')
age=int(age)
print('En el 2023 {nombre}, tendrá {edad} años'.format(nombre=txt,edad=age+1))

Ingrese su nombre:  Saudith
Ingrese su edad:  17

En el 2023 Saudith, tendrá 18 años